/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

body {
    background: #dddddd;
    font-family: "Poppins", sans-serif;
}

#main-wrapper {
    background: #f5df4e;
}

.container {
    width: 950px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo_wrapper img {
    width: 120px;
}

#header {
    padding: 10px 10px;
}

.right-text {
    width: 500px;
    float: right;
    font-size: 16px;
    font-weight: 600;
    text-align: right;
}

.right-text i {
    font-size: 25px;
    cursor: pointer;
}

.right-text span {
    font-size: 1.125rem;
    font-weight: 600 !important;
    margin-right: 18px;
    position: relative;
    top: -3px;
}

.leftHome {
    width: 400px;
    float: left;
    padding-top: 45px;
}

div#home {
    overflow: hidden;
    padding-bottom: 204px;
    padding-top: 55px;
}

.rightHome {
    float: right;
    width: 350px;
    height: 350px;
    margin-top: 32px;
}

h1.title-home {
    font-size: 40px;
    font-weight: 300;
}

h2.title-homeTwo {
    font-size: 75px;
    margin-top: -16px;
}

.leftHome p {
    font-size: 1.5rem;
    line-height: 45px;
}

a#homeBtn {
    text-decoration: none;
    background: black;
    color: white;
    padding: 20px 34px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    font-weight: 500;
    position: relative;
    top: 47px;
}

#homeBtn2 {
    text-decoration: none;
    color: black;
    font-weight: 400;
    position: relative;
    top: 46px;
    cursor: pointer;
    padding: 20px 34px;
}

#homeBtn2:hover {
    text-decoration: underline;
}

.rightHome img {
    width: 100%;
    height: 100%;
    display: grid;
    border-radius: 100%;
    border: 16px solid white;
}

.right-text span>i {
    font-size: 20px;
    margin-right: 7px;
}

/* Top Section Ended!! */
/* About Section Started */
.aboutme-wrapper {
    background: #FFFFFF;
}

.heading-box {
    width: 930px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 72px;
}

.heading-box p {
    padding: 5px 10px;
    background: #F5DF4E;
    width: 106px;
    margin: auto;
    font-weight: 400;
}

.heading-box h1 {
    font-size: 2.50rem;
    font-weight: 600;
    padding-top: 8px;
}

.heading-box {
    width: 930px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 72px;
}

.heading-box p {
    padding: 5px 10px;
    background: #F5DF4E;
    width: 106px;
    margin: auto;
    font-weight: 400;
}

.heading-box h1 {
    font-size: 2.50rem;
    font-weight: 600;
    padding-top: 8px;
}

.about-detail {
    display: flex;
    flex-direction: row;
}

.about-desc {
    width: 695px;
}

.about-year {
    width: 400px;
    margin-left: 78px;
}

.about-desc span {
    font-size: 32px;
}

.about-desc h1 {
    font-size: 32px;
    display: inline;
    margin-left: 8px;
}

.border-yellow {
    width: 240px !important;
    height: 3px;
    background: #F5DF4E;
    position: relative;
    left: 102px;
}

.about-desc p {
    width: 552px;
    line-height: 35px;
    font-size: 1.3rem;
    margin-bottom: 10px;
    text-align: justify;
}

.about-year p {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background: #F5DF4E;
    margin: auto;
    margin-top: 16px;
    display: grid;
}

.about-year p span {
    font-size: 135px;
    color: #4c4d4d;
    margin: -42px;
    text-align: center;
}

.about-year h3 {
    text-align: center;
    font-size: 32px;
    margin-top: 12px;
    font-weight: 400;
}

.about-year h3>span {
    font-weight: 600;
}

.about-sector {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 20px);
    margin-top: 30px;
    font-size: 1.2rem;
    grid-gap: 30px;
}

.about-sector div>h4 {
    color: #343a40;
    font-weight: 600;
}

/* Section Ended!! */
/* Service Section Started */
#main-service {
    background: #F8F9FA;
    padding-bottom: 80px;
}

.service-boxes {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 200px);
    text-align: center;
    grid-row-gap: 45px;
    grid-column-gap: 150px;
    margin-top: 76px;
    justify-content: center;
    margin-right: 38px;
}

.single-box i {
    font-size: 50px;
    color: #F5DF4E;
    margin-bottom: 22px;
}

.single-box {
    width: 242px;
}

.single-box p {
    text-align: center;
    color: #6c757d;
    line-height: 28px;
}

.single-box h2 {
    margin-bottom: 12px;
    font-weight: 600 !important;
}

/* Service Section Ended!! */
/* My Resume Section Started */
#my-main-resume {
    background: #FFFFFF;
}

.resume-wrapper {
    display: flex;
    margin-bottom: 15px;
    margin-top: 45px;
}

.my-education h1 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}

.my-education {
    padding: 10px 8px;
}

.my-experiance {
    padding: 10px 6px;
}

.resume-single-box h2 {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 10px;
}

.resume-single-box {
    border-bottom: 1px solid #ddd;
    margin-bottom: 34px;
}

.resume-single-box p {
    margin-bottom: 34px;
    font-size: 1rem;
    font-weight: 400;
    color: #6c757d;
    line-height: 1.85;
}

.resume-single-box h4 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.experiance-wrapper {
    border-left: 2px solid #F5DF4E;
    padding-left: 18px;
}

/* My Skills Section Started */

.single-progress {
    width: 450px;
    margin-bottom: 24px;
}

.single-progress p {
    display: inline;
    margin-right: 318px;
}

.progress {
    width: 450px;
    height: 0.5rem;
    background: #ddd;
    margin-top: 10px;
    border-radius: 5px;
}

.progress p {
    background: #F5DF4E;
    width: 65%;
    height: 100%;
    border-radius: 5px;
    display: block;
}

.my-skills h1 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 26px;
}

.progress-bar-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 50px;
}

.button-wrapper {
    width: 600px;
    margin: auto;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 50px;
}

.button-wrapper a {
    text-decoration: none;
    border: 2px solid black;
    padding: 15px 46px;
    font-size: 1rem;
    font-weight: 500;
    color: #212529;
}

.button-wrapper:hover a {
    background-color: black;
    color: white;
    transition: .6s;
}

/* My Resume Section End!! */
/* My-Protfolio Section Started */
#protfolio-wrapper {
    background: #F8F9FA;
}

.protfolio-menu {
    padding: 30px 0px;
    margin-bottom: 2.4rem;
}

ul.p-menus {
    text-align: center;
}

ul.p-menus li {
    display: inline-block;
    padding: 0px 14px;
    position: relative;
}

ul.p-menus>li>a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
    font-size: 17px;
    font-weight: 600;
}

.p-menus>li:hover a{
    color: #F5DF4E;
    transition: .3s;
}

ul.p-menus li:first-child a {
    color: #0c2f55;
}

a.active-b-bottom:after {
    content: ' ';
    width: 100%;
    height: 3px;
    background: #F5DF4E;
    position: absolute;
    left: 0;
    bottom: -8px;
}

/* Protfolio Section Started */
.single-protfolio {
    display: flex;
    width: 300px;
}

.protfolio-details>img {
    width: 100%;
}

.single-protfolio {
    display: flex;
    width: 290px;
    margin-left: 20px;
    margin-bottom: 28px;
}

.protfolio-details>img {
    width: 100%;
    height: 100%
}

.protfolio-overly {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    bottom: 0px;
    display: flex;
    right: 0;
    text-align: center;
    line-height: 38px;
    opacity: 0;
}

.single-protfolio:hover .protfolio-overly {
    opacity: 1;
    transition: all 1s;

}

.single-protfolio:hover .protfolio-details>img {
    transform: scale(1.4);
    transition: 1s;
}

.protfolio-details {
    position: relative;
    overflow: hidden;

}

.protfolio-overlay-deatil {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.protfolio-overlay-deatil>p>i {
    font-size: 45px;
    color: #F5DF4E;
    margin-bottom: 18px;
}

.protfolio-overlay-deatil>h5 {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
}

.protfolio-overlay-deatil span {
    font-size: 1rem;
    font-weight: 400;
    color: #dee3e4 !important;
}

.protfolio-items-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}